@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://wmx-api-production.s3.amazonaws.com/public/benchprep/css/branding.css');

:root {
  --red: #E35B5D;
  --yellow: #EDC21C;
  --green: #339A75;
}
